@model IEnumerable<Category>
@{
    ViewData["Title"] = "Index";   
}
 

<div class="container p-4">
    <div class= "row p-3">
        <div class="col-6">
            <h2 class="text-primary">Categories</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-action="Create" asp-controller ="Category" class="btn btn-primary"><i class="bi bi-plus-circle"></i> Add New</a>
           @* @Html.Partial("~/Views/Shared/_category.cshtml")*@

        </div>
    </div>
</div>

  <table class="table table-hover mt-4">
  <thead class="table-dark text-white">
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">Order Replace</th>
      <th scope="col">Date Created</th>
      <th scope="col">Action</th>

    </tr>
  </thead>
  <tbody>
        @foreach(var item in Model)
        {
            <tr>
            <td>@item.CategoryId</td>
            <td>@item.CategoryName</td>
            <td>@item.OrderPlace</td> 
            <td>@item.CreateDate</td>
            <td>
            <a asp-action="Edit" asp-controller ="Category" class="btn btn-success" asp-route-id="@item.CategoryId"><i class="bi bi-pencil-square"></i> Edit</a>
            <a asp-action="Delete" asp-controller ="Category" class="btn btn-danger" asp-route-id="@item.CategoryId"><i class="bi bi-trash3-fill"></i> Delete</a>
            
        </td>
            </tr>
        }
  </tbody>
</table>

@section scripts{
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.11.2/build/alertify.min.js"></script>    
    <script type="text/javascript">
        $(document).ready( function () {
            $('#myTable').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    'pageLength','copy', 'csv', 'excel', 'pdf', 'print'
                ]
            });
        } );
        $(function(){
            var save = '@TempData["save"]'
            if(save!='') {
                alertify.success(save);
            }
            var edit = '@TempData["edit"]'
            if(edit!='') {
                alertify.success(edit);
            }
            var del = '@TempData["delete"]'
            if (del!='') {
                alertify.error(del);
            }
        })
    </script>
}


