@model MyApp.Models.ViewModel.CartVM

<div class="card mb-3 mt-3">
    <center>
    <h2 class="justify-content-center mt-5 mb-2">Order Replace</h2>
    </center>
<div class="container justify-content-center mt-5 mb-5">
    <div class="row">
        <div class="col-md-6"> <span><b>Shipping Details</b></span>
                         
                 
         <div class="card">                       
                 <div class="card-body payment-card-body"> 
                     <span class="font-weight-normal card-text"><b>Name</b></span>
                     <div class="input"> <i class="fa fa-credit-card"></i> <input type="text" asp-for ="@Model.orderHeader.Name" class="form-control"> </div>
                     <span class="font-weight-normal card-text"><b>Phon Number</b></span>
                     <div class="input"> <i class="fa fa-credit-card"></i> <input type="text" asp-for ="@Model.orderHeader.Phon" class="form-control"> </div>
                     <span class="font-weight-normal card-text"><b>Address</b></span>
                     <div class="input"> <i class="fa fa-credit-card"></i> <textarea type="text" asp-for ="@Model.orderHeader.Address" class="form-control"></textarea> </div>
                     <span class="font-weight-normal card-text"><b>City</b></span>
                     <div class="input"> <i class="fa fa-credit-card"></i> <input type="text" asp-for ="@Model.orderHeader.City" class="form-control"> </div>
                     <span class="font-weight-normal card-text"><b>State</b></span>
                     <div class="input"> <i class="fa fa-credit-card"></i> <input type="text" asp-for ="@Model.orderHeader.State" class="form-control"> </div>
                     <span class="font-weight-normal card-text"><b>Postal Code</b></span>
                     <div class="input"> <i class="fa fa-credit-card"></i> <input type="text" asp-for ="@Model.orderHeader.PostalCode" class="form-control"> </div>
                    
                 </div>
         </div>
             
            
        </div>
        <div class="col-md-6"> <span><b>Summary</b></span>
            <div class="card">
                @foreach (var detail in Model.ListOfCart)
                {
                    
                
                <div class="d-flex justify-content-between p-2">
                    <div class="d-flex flex-column p-2"> <span><b>Product</b></span>@detail.Product.ProductName </div>
                    <div class="d-flex flex-column p-2"><span class="super-month"><b>Qty</b></span> @detail.Count</div>
                    <div class="d-flex flex-column p-2"><span class="super-month"><b>Price</b></span>@(((detail.Product.Price)*(detail.Count)).ToString("c")) </div>
                
               
                </div>}
                <hr class="mt-0 line">
               
                <div class="p-3 d-flex justify-content-between">
                    <div class="d-flex flex-column"> <span><b>Total Grand</b></span> <small></small> </div><b>@Model.orderHeader.OrderTotal.ToString("c")</b>
                </div>  
                <form method="post">
                <div class="p-3"> <button asp-action="Summary" asp-controller="Cart" class=" w-100 btn btn-primary btn-block free-button">Purchase</button>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>